body {
    background-color: aquamarine;
}

h1 {
    text-align: end;
    margin-top: 5rem;
    margin-right: 1rem;

}

.city {
   float: left;
   color: black;
}

h2 {
    text-align: center;
}

#current-weather {
    float: right;
    border: solid;
    background-color: #fdfd96;
    height: 200px;
    margin-right: 75px;
}

#nav{


}

#search {

}

.container {
    display: flex;
    justify-content: center;
    grid-row: auto;
}

.card-header {
    border: solid;
    background-color: #fdfd96;
    text-align: center;
    align-self: center;
    margin: 1rem;
}

#box {
    border: dotted;
    background-color: #fdfd96;
    margin: 1rem;

}