/* added a background color of #a3aabf the my webpage */
body {
    background-color: #a3aabf;
}

h1 {
    text-align: end;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 80px;
    background-color: #0d0b58;
    color: #a3aabf;
    font-size: 50px;

}
/* I floated the city class to the left with a text color of black and center aligned the text */
.city {
    float: left;
    color: black;
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-right: 100px;
    padding-top: 50px;
    text-align: center;
    color: #0f2767;

}
/* for the current-weather id I floated it to the right with a solid border, background color of #0f2767, text color of lightgrey, a height of 200px and right margin of 75px */
#current-weather {
    float: right;
    border: solid;
    background-color: #0f2767;
    color: lightgrey;
    height: 200px;
    margin-right: 75px;
}
/* for the container class I set the display to flex, justified the content to the center, floated the container to the right with a top margin of 2rem and right margin of 4rem with text color of lightgrey */
.container {
    display: flex;
    justify-content: center;
    grid-row: auto;
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
    height: 300px;
    color: lightgray;
}

.icon-span-styling {
    width: 25px;
    height: auto;
}
/* I set the card-header class with a solid border background color of #0f2767, tet color of light grey, set the text and self align to center and margin of 10px with a top margin of 5px  */
.card-header {
    border: solid;
    background-color: #0f2767;
    color: lightgray;
    text-align: center;
    align-self: center;
    margin: 10px;
    margin-top: 5px;
}

#box {
    border: solid;
    background-color: #0f2767;
    color: lightgray;
    margin-right: 2rem;
}